@import "tailwindcss";

@layer base {
  html, body { 
    height: 100vh; 
    width: 100vw; 
    overflow: hidden; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Plus Jakarta Sans', sans-serif; 
    background: #eef2f6;
  }
}

@layer utilities {
  .ripple-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ripple-circle {
    position: absolute;
    border-radius: 50%;
    border: 0.2vw solid #059669; /* emerald-600 */
    opacity: 0;
    animation: ripple-anim 3s cubic-bezier(0.1, 0.7, 0.1, 1) infinite;
  }

  .ripple-delay-1 {
    animation-delay: 1s;
  }

  .ripple-delay-2 {
    animation-delay: 2s;
  }

  @keyframes ripple-anim {
    0% {
      width: 12vw;
      height: 12vw;
      opacity: 0.8;
      border-width: 0.3vw;
    }
    100% {
      width: 35vw;
      height: 35vw;
      opacity: 0;
      border-width: 0vw;
    }
  }
}
